{% extends 'base.html.twig' %}
{% if booking is not defined %}{% set booking = [] %}{% endif %}
{% import 'macro/_view_resa.html.twig' as view %}
    {% block header %}
        <meta http-equiv="refresh" content="60000"/>
    {% endblock %}
{% block body %}
    <div class="container text-center">
        <h1>Réservation du jour</h1>
        <span style="font-size: 34px">{{ date | date('d-m-Y') }}</span>
        <div id="Crono"></div>
        {% if is_granted('ROLE_ADMIN') %}
        <hr class="my-3">
        <form action="{{ path('resa_day') }}" method="get">
            <label for="start"></label>
            <input type="date" id="start" name="d" value="{{ date | date('Y-m-d') }}">
            <button type="submit" class="btn btn-dark btn-sm">ok</button>
        </form>
        <hr class="my-3">
            <a class="nav-link" href="{{ path('easyadmin') }}">Administration</a>
        {% endif %}
        <section id="display" class="row mt-3">
            <div class="col-sm-12 col-md text-left">
                <h3>Salle Bora-Bora</h3>
                {% if meeting1 is defined %}
                    {{ view._view_booking(booking, meeting1[0].room.id, meeting1, 'bg-success') }}
                {% endif %}
            </div>
            <div class="col-sm-12 col-md text-left">
                <h3>Salle Miami</h3>
                {% if meeting2 is defined %}
                    {{ view._view_booking(booking, meeting2[0].room.id, meeting2, 'bg-warning') }}
                {% endif %}
            </div>
            <div class="col-sm-12 col-md text-left">
                <h3>Salle Phuket</h3>
                {% if meeting3 is defined %}
                    {{ view._view_booking(booking, meeting3[0].room.id, meeting3, 'bg-secondary') }}
                {% endif %}
            </div>
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 3600000);
        setTimeout(function () {
            decompte();
        }, 1000);
        let cpt = 3600;
        let x;

        function decompte() {
            if (cpt >= 0) {
                if (cpt > 1) {
                    let sec = " secondes.";
                } else {
                    let sec = " seconde.";
                }
                document.getElementById("Crono").innerHTML = "Actualisation dans " + cpt + sec;
                cpt--;
                x = setTimeout("decompte()", 1000);
            } else {
                clearTimeout(x);
            }
        }
    </script>
{% endblock %}
