{% extends 'base.html.twig' %}

{% block title %}Réservation o2gam{% endblock %}
{% block css %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container">
        <input id="dateBlocked" type="hidden"
               data-blocked="{% for date in blocked %}{{ date.blockedDate | date('d-m-Y') }}{% if not loop.last %},{% endif %}{% endfor %}">
        <h1 class="col text-center">Réservation</h1>
        <p class="col text-center black-text">Bienvenue {{ app.user.firstName | default('') }} sur le systeme de
            reservation</p>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-warning" href="{{ path("historique") }}">Mes Réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-sm btn-danger" href="{{ path('logout') }}">Déconnexion</a>
            </li>
        </ul>
        <hr>
        <div id="app"></div>
        <hr>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('resavo') }}
{% endblock %}
