{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-4 mt-2">

        <h1>RESUME :</h1>
        <small>Voici les details de votre réservation :</small>
        <hr>

        {% set pay = booking.payment %}


        <strong>Nom:</strong> {{ booking.user.name }} <br>
        <strong>Prénom:</strong> {{ booking.user.firstname }} <br>
        <strong>ID reservation:</strong> {{ booking.name }} <br>
        <strong>Date:</strong> {{ booking.bookingDate | date('d-m-Y') }}<br>
        <strong>Séance: {{ booking.meeting.label }}<br></strong>
        <strong>Salle: {{ booking.room.name }}<br></strong>
        <strong>Nombre de personnes:</strong> {{ booking.nbPerson }}<br>
        <strong>{% if booking.notices %}
        Votre remarque: {{ booking.notices }}<br>
        {% else %}
        Aucune remarque n'a été mentionnée.<br>
            {% endif %}</strong>
        <strong>Acompte: </strong>{{ pay.paymentAmount }}{{ pay.paymentCurrency }}<br>
        <strong>total de la commande :</strong> {{ booking.total }}{{ pay.paymentCurrency }} <br>
        <hr>
        <strong style="font-size: 30px">Reste à payer (sur place): <span style="color: red;">{{ booking.total - pay.paymentAmount }}{{ pay.paymentCurrency }}</span></strong> <br>
        <br>
    <div class="row">
       {# <a href="{{ path('acceuil') }}"><button type="button" class="btn btn-primary">Retour sur le site</button></a> #}
    </div>
    </div>

{% endblock %}