{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <div class="container mt-4 p-4">
        <div class="jumbotron">
            <h1 class="display-4">Réservation : #{{ booking.name }}</h1>
            <hr>
            <p class="lead">Modification</p>
        </div>
        <div class="row mt-5">
            <div class="col pl-4">
            {{ form_start(form) }}
                {{ form_row(form.room) }}
                {{ form_row(form.booking_date) }}
                {{ form_row(form.meeting) }}
                {{ form_row(form.notices) }}
            </div>
        </div>
            <div class="col-1">
                <input class="btn btn-primary" type="submit" value="valider">
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
<!-- js pour resa dispo pas dispo -->
{% block javascript %}
<script>
axios({
    url: "/api/booking/available",
    method: 'post',
    data: {
        room: this.room,
        meeting: this.meeting,
        bookingDate: this.date
    }
}).then(({data}) => {
    if (data === false) {
        this.isAvailable = false
        this.message = " Cette séance n'est pas disponible."
    } else {
        this.isAvailable = true
        this.message = " Cette séance est disponible."
    }
    this.display = true;
}).catch((error) => console.log(error))
</script>
{% endblock %}