{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-2 pl-3">
        <h2>Mes Reservations</h2>
{%if data == null %}
Vous n'avez encore de reservation.
{% endif%}
        {% for resa in data %}

            <div class="card mt-5">
                <div class="card-header">
                    Reservation du {{ resa.bookingDate | localizeddate('full', 'none') }}

                   {% if  'now' | date('Y-m-d')  <= resa.bookingDate | date('Y-m-d') %}
                        <span class="badge badge-success">En cour</span>
                       {% else %}
                           <span class="badge badge-dark">Terminé</span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Vous avez reservé la {{ resa.room.name }} pour {{ resa.nbPerson }} personne{%  if resa.nbPerson > 1 %}s{% endif %}
                            <br>
                        séance de {{ resa.meeting.label }}</p>
                        <footer class="blockquote-footer">Un montant de {{ resa.total }}{{ resa.payment.paymentCurrency | default('€') }}
                            <br>
                            <small>ID de la reservation: #{{ resa.name }}</small>
                        </footer>
                    </blockquote>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body %}